---
import ProjectCard from "./ProjectCard.astro"
const blogs = await Astro.glob('../../pages/projectblogs/*.md')
---
<h1 id="projects" class="font-extrabold text-3xl md:text-4xl p-5">Projects</h1>
<div class="relative h-full w-full md:overflow-y-auto">
<!-- ProjectCarousel wrapper -->
    <div class="text-black">
        <!--TODO: Fix this according to new design &#45;&#45; All important details in one page index-->
        <div class="flex flex-col gap-4 px-4 py-6 items-center">
            <!--Dynamic Projecst Cards from MD Files:-->
            {blogs.map((blog) => (
                <ProjectCard emoji={blog.frontmatter.emoji}
                             name={blog.frontmatter.title}
                             link={blog.url}
                             github={blog.frontmatter.github}
                             skills={blog.frontmatter.skills}
                             state={blog.frontmatter.state}
                             description={blog.frontmatter.description}>
                </ProjectCard>
            ))}
        </div>
    </div>
</div>