---
import ProjectCard from "./ProjectCard.astro"
const blogs = await Astro.glob('../../pages/projectblogs/*.md')
---
<div class="relative h-full w-full md:overflow-y-auto">
<!-- ProjectCarousel wrapper -->
    <div class="text-black">
        <div class="flex flex-col gap-4 px-4 py-6 h-full w-full items-center">
            <!--Dynamic Project Cards from MD Files:-->
            {blogs.map((blog) => (
                <ProjectCard emoji={blog.frontmatter.emoji}
                             name={blog.frontmatter.title}
                             link={blog.url}
                             github={blog.frontmatter.github}
                             skills={blog.frontmatter.skills}
                             state={blog.frontmatter.state}
                             description={blog.frontmatter.description}>
                </ProjectCard>
            ))}
        </div>
    </div>
</div>