 ---
const {emoji, name, link, skills, state, description} = Astro.props;
 ---
 <div class="group max-w-full md:w-2/3 rounded-xl bg-white shadow-lg p-6 snap-start transition-all duration-300 ease-in-out hover:bg-pink-500 hover:scale-103">
     <a href={link}>
         <h1 class="text-3xl font-bold text-black transition-colors duration-300 ease-in-out group-hover:text-white">
             <span class="text-2xl">{emoji}</span> {name}
         </h1>
     </a>
     <p class="text-sm text-gray-400 transition-colors duration-300 ease-in-out group-hover:text-white">
         {skills}
     </p>
     <p class="text-sm text-gray-400 transition-colors duration-300 ease-in-out group-hover:text-white">
         {state}
     </p>
     <p class="text-base text-black transition-colors duration-300 ease-in-out group-hover:text-white">
         {description}
     </p>
 </div>